// Descriptive color variables

$white          : #fff;
$teal           : #58e1c1;
$blue           : #51ddfc;
$red            : #e4757a;
$orange         : #fd7856;
$violet         : #927bc1;
$green          : #63cc82;
$grey           : #777;
$black          : black;

// Functional color variables

$color-link-default : $blue;
$color-link-visited : $blue;
$color-prim         : $teal;
$color-sec          : $grey;
$headline           : $black;
$error-color        : $red;
$warning-color      : $orange;
$info-color         : $violet;
$success-color      : $green;
$base-color         : $grey;
$default-color      : $blue;

// Media Query Breakpoints

$brk-wide : 768px;

// Font weights

$font-weight: 300px;